/**
 * Editor styles for Now Playing block
 */

.wp-block-scrobble-blocks-now-playing {
	display: flex;
	align-items: flex-start;
	gap: 1rem;

	.scrobble-artwork {
		flex-shrink: 0;
		width: 64px;
		height: 64px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
			border-radius: 4px;
		}
	}

	.scrobble-info {
		display: flex;
		flex-direction: column;
		gap: 0.25em;
		min-width: 0;
	}

	.scrobble-track {
		font-weight: 600;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.scrobble-artist {
		font-size: 0.875em;
		opacity: 0.8;
	}

	.scrobble-timestamp {
		font-size: 0.75em;
		opacity: 0.6;
	}
}
